@import '~bootstrap/scss/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


* {
    font-family: "Roboto", Arial, sans-serif;
}

// checkbox

.borders {
    // background-color: #BDDAF2; 
    /* border: 2px solid #2980b9;  */
    background-color: #2980b9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pointer {
    cursor: pointer;
}

.btn_close {
    position: relative;
    background-color: rgb(230, 34, 77);
    border-radius: 5px;
    box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_close::before {
    content: "";
    background-color: rgb(248, 50, 93);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.btn_close:hover::before {
    width: 100%;
}

.titoloCard {
    background-color: #BDDAF2;
    border-radius: 5px;
}

.sponsorPrice {
    color: #04395c;
}


.radioButton {
    --input-focus: #04395c;
    --input-out-of-focus: #ccc;
    --bg-color: #fff;
    --bg-color-alt: #262bb7;
    --main-color: #2980b9;
    position: relative;
    cursor: pointer;
}

.radioButton input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--input-out-of-focus);
    transition: all 0.3s;
}

.radioButton input:checked~.checkmark {
    background-color: var(--input-focus);
}

.checkmark:after {
    content: "";
    width: 7px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 8px;
    display: none;
    border: solid var(--bg-color);
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
}

.radioButton input:checked~.checkmark:after {
    display: block;
}


.bg_color {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #2980b9;
}

.sponsorCard {
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}


.sponsorCard::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(45, 150, 48));
    height: 250%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

.borderCard {
    border: 3px solid #07182E;
    border-radius: 20px;
    background-color: #DDEEF8;
}



@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.sponsorCard::after {
    content: '';
    position: absolute;
    background: #dfeef7;
    ;
    inset: 5px;
    border-radius: 15px;
}

.bottone {
    width: fit-content;
    display: flex;
    padding: 1.2em 1rem;
    cursor: pointer;
    gap: 0.4rem;
    font-weight: bold;
    border-radius: 30px;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    background: linear-gradient(15deg, #0a6fb3, #033e66, #038eeb, #2980b9) no-repeat;
    background-size: 300%;
    color: #fff;
    border: none;
    background-position: left center;
    box-shadow: 0 30px 10px -20px rgba(0, 0, 0, .2);
    transition: background .3s ease;
}

.bottone:hover {
    background-size: 320%;
    background-position: right center;
}

.bottone:hover svg {
    fill: #fff;
}

.bottone svg {
    width: 23px;
    fill: #f09f33;
    transition: .3s ease;
}

.max_width {
    margin: 3rem auto !important;
}

img {
    width: 28rem;
    border-radius: 10px 10px;
}

.stats-box {
    border: 2px black;
    box-shadow: 2px 2px 2px 2px #BDDAF2;
    // max-width: 25rem;
}

.messandreview_bg {
    background-color: #BDDAF2;
}


.backgroundHeader {
    height: 20em;
    width: 100%;
    background-image: url(/storage/app/public/uploads/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: .01em;
    padding-left: 25px;
    text-shadow: 0.3em 0.3em 0.3em #868282;
    color: #2980b9;
}


@media screen and (min-witdh: 768px) {
    .bg_primary {
        background-color: #BDDAF2;
        background: rgb(189, 218, 242);
        background: linear-gradient(0deg, rgba(189, 218, 242, 1) 0%, rgba(45, 192, 253, 1) 100%);
        border: none;
        border-radius: 50px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        gap: 5px;
        cursor: pointer;
        box-shadow: 1px 3px 0px rgba(189, 218, 242, 1) 0%;
        transition-duration: .3s;

    }

    #sidebarMenu {
        font-size: 10px;
    }

    .elements {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 768px) {

    header-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mediaQuerySelectContainer {
        display: block;
    }

    #mediaQueryCheckboxContainer {
        display: none;
    }

    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

    .selectBox select {
        width: 100%;
    }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
        overflow-y: scroll;
        height: 70px;
    }

    #checkboxes label {
        display: block;
    }

    #checkboxes label:hover {
        background-color: #1e90ff;
    }

    // endcheckbox
}


@media screen and (min-width: 769px) {
    #mediaQuerySelectContainer {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    .elements {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {

    /* Styles for mobile devices */
    .borders {
        border: 1px solid #313131;
        border-radius: 5px;
    }

    .size {
        width: 2rem;
    }


    /* Adjust other styles as needed */
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar-dark.sidebar {
        display: block !important;
        width: 10% !important;
    }

    a span {
        display: none;
    }

    ul {
        display: flex !important;
        align-items: center !important;
        margin-left: -10px;

    }

    .bg_primary {
        background-color: none;
    }


    .bg {
        margin-left: 35px;
    }

    .marginQuery {
        margin-left: 75px !important;
    }

    .elements {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {

    #sidebarMenu {
        display: block;
        height: 70px !important;
        background: #2980b9;

        .nav {
            display: flex;
            flex-direction: row;
        }

        a span {
            display: none;
        }

        ul {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between !important;
        }
    }

    .margin {
        margin-top: 100px !important;
    }

    .elements {
        display: flex;
        flex-direction: column;
    }

    .fa-lg {
        width: 0.75em;
    }
}

@media screen and (min-width: 992px) and (max-width: 1030px) {
    .bg_color {
        padding: 0 !important;
    }
}

@media screen and (max-width: 1279px) {
    .elements>div {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 678px) {
    .query_margin {
        margin-left: 60px !important;
    }
}

.sponsor-card {
    cursor: pointer;
}